ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
    color: #696cff;
    
}

.input-spinner {
    max-width: 140px;
    flex-wrap: nowrap;
    display: inline-flex;
  }
//   .btn-primary{
//     background-color: rgba(105,108,255,.16) !important;
//     color:#696cff;
//   }

//   .btn-outline-primary {
//     color: #696cff;
//     border-color: #696cff;
//     background: transparent;
//   }